/*دیجی کلاب کادر آبی*/
main>div.digiclub{
    width: 85%;
    height: 88px;
    background-image: linear-gradient(76.02deg,#35a6c8 33.32%,#007295 71.55%),radial-gradient(21.29% 87.33% at 50% 50.67%,#7cf2f6 0,#35a6c8 100%);;
    margin: 0 auto;
    margin-top: 8px;
    border-radius: 16px;
    display: flex;
    text-align: center;
}
main>div.digiclub>img{
    height: 33px;
    margin:30px 35px;
    padding-left: 295px;
}
main>div.digiclub>div{
    height:65px;
    width: 20%;
    display: flex;
    margin: 0 auto;
    background-color: white;
    margin-top: 12px;   
}
main>div.digiclub>div>img{
    height: 60px;
    width: 100%;
    margin-top: 2px;
    margin-left: 3px;
}
main>div.digiclub>div>svg{
    height:23px;
    width: 20%;
    margin-top: 20px;
    fill: #29c2d4;
    transform: scale(0.8);
    margin-right: 10px;
}
main>div.digiclub>div>span{
    height: 26px;
    width: 60%;
    text-align: right;
    line-height: 26px;
    margin-right: 5px;
    margin-top: 20px;
}
main>div.digiclub>div:nth-child(4){
    border-radius: 10px 0px 0px 10px;
    margin-left: 20px;
    padding-left: 2px;
}
main>div.digiclub>div:nth-child(2){
    border-radius: 0 10px 10px 0; 
}